{{ define "main" }}
  <div class="flex">
    <div class="main-hero-div">
      <img src="/hero.png" alt="" class="main-hero">
      <img src="/mobile-hero.png" alt="" class="mobile-hero">
    </div>
    <div style="height:10%; overflow:hidden;display:block" class="space"></div>
    <div class="text-div">
      <!-- <p style="display:flex; justify-content:flex-end;margin:0px;font-size:12px">About us</p> -->
      <br>
      <img src="/logo.png" alt="" class="logo-size">

      <h1 class="space_above_title"> We've reimagined science for <br> 7-12 year olds </h1>
      <p style="color:#717568;line-height: 1.8rem;"> School science made more fun, relatable and in tune with 21st century skills. Explore key concepts through action-packed stories, games and quizzes. </p>
      <br>

      {{ partial "signup.html" . }}

      <img src="/hero-3.png" alt="" class="hero-3">
    </div>
  </div>
{{ end }}
