{{ define "main" }}
  <div style="display:flex;">
    <div style="width:40vw; object-fit: cover; background-size: contain;">
      <img src="/hero.png" alt="" style="height:95vh;">
    </div>
    <!-- <div style="width:5vw; overflow:hidden"></div> -->
    <div style="text-align: center;width:55vw; padding:20px;position: relative;overflow: hidden;">
      <!-- <p style="display:flex; justify-content:flex-end;margin:0px;font-size:12px">About us</p> -->
      <br>
      <img src="/logo.png" alt="" style="width:40%;">

      <h1 style="margin-top: 100px;"> We've reimagined science for <br> 7-12 year olds </h1>
      <p style="color:#717568;line-height: 1.8rem;"> School science made more fun and relatable. Explore key concepts through action-packed stories, games and quizzes. </p>
      <br>

      {{ partial "signup.html" . }}

      <img src="/hero-3.png" alt="" class="hero-3">
    </div>
  </div>
{{ end }}
