{{ define "main" }}
  <div style="display:flex;">
    <div style="width:40vw; object-fit: cover; background-size: contain;">
      <img src="/hero.png" alt="" style="height:95vh;">
    </div>
    <!-- <div style="width:5vw; overflow:hidden"></div> -->
    <div style="text-align: center;width:60vw; padding:20px;position: relative;">
      <br>
      <img src="/logo-2.png" alt="" style="width:40%;">
      <br>
      <br>
      <br>
      <h1> Science made more fun and <br> meaningful</h1>
      <p> Explore the big ideas of science through action-packed stories, <br> games and quizzes. </p>

      <form action="">
        <input type="text">
        <button>Click</button>
      </form>

      <small> Only £9.99/month. Get notified on launch. </small>
      <img src="/hero-3.png" alt="" class="hero-3">
    </div>
  </div>
{{ end }}
